* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    background: silver;
}

.menuTop {
    position: absolute;
    bottom: 0;
    width: 1000px;
    background: red;
    height: 50px;
}

.nivel1 {
    float: left;
    width: 19.2%;
    text-align: center;
    line-height: 42px;
    border: 4px solid white;
    background: linear-gradient(#900,#600); /*agregando color en degradado*/
}

.nivel1 a {
    color: white;
}
.nivel1:hover {
    background: purple;
}

.nivel2 {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 42px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    background: silver;
    color: black;
    left: -4px;
}

.nivel2:hover {
    background: blue;
    transition: background 0.7s ease-in-out; /* transicion: propiedad a ejecutrar, tiempo y como*/
}
