* {
    margin: 0;
    padding: 0;
}

.fondo1 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background4.jpg);
}

.fondo2 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background2.jpg);
    background-size: cover;
}

.fondo3 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background3.jpg);
    background-size: cover;
}

.fondo4 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background1.jpg);
}

