* {
    margin: 0;
    padding: 0;
}

/*Agregando animacion con keyframes*/
@keyframes animacion1 {
    0% {
        opacity: 1;
        /* left: 0%; */
    }

    20% {
        opacity: 1;
        /* left: -100%; */
    }
    
    30% {
        opacity: 0;
        /* left: -100%; */
    }

    90% {
        opacity: 0;
        /* left: -100%; */
    }

    100% {
        opacity: 1;
        /* left: 0%; */
    }
}

@-moz-keyframes animacion1 {
    0% {
        opacity: 1;
        /* left: 0%; */
    }

    20% {
        opacity: 1;
        /* left: -100%; */
    }
    
    30% {
        opacity: 0;
        /* left: -100%; */
    }

    90% {
        opacity: 0;
        /* left: -100%; */
    }

    100% {
        opacity: 1;
        /* left: 0%; */
    }
}

@-o-keyframes animacion1 {
    0% {
        opacity: 1;
        /* left: 0%; */
    }

    20% {
        opacity: 1;
        /* left: -100%; */
    }
    
    30% {
        opacity: 0;
        /* left: -100%; */
    }

    90% {
        opacity: 0;
        /* left: -100%; */
    }

    100% {
        opacity: 1;
        /* left: 0%; */
    }
}

@-webkit-keyframes animacion1 {
    0% {
        opacity: 1;
        /* left: 0%; */
    }

    20% {
        opacity: 1;
        /* left: -100%; */
    }
    
    30% {
        opacity: 0;
        /* left: -100%; */
    }

    90% {
        opacity: 0;
        /* left: -100%; */
    }

    100% {
        opacity: 1;
        /* left: 0%; */
    }
}

.fondo1 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background4.jpg);
    animation: animacion1 24s ease 18s infinite;;
    -moz-animation: animacion1 24s ease 18s infinite;
    -o-animation: animacion1 24s ease 18s infinite;
    -webkit-animation: animacion1 24s ease 18s infinite;
}

.fondo2 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background2.jpg);
    background-size: cover;
    animation: animacion1 24s ease-in-out 12s infinite;
    -moz-animation: animacion1 24s ease-in-out 12s infinite;
    -o-animation: animacion1 24s ease-in-out 12s infinite;
    -webkit-animation: animacion1 24s ease-in-out 12s infinite;
}

.fondo3 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background3.jpg);
    background-size: cover;
    animation: animacion1 24s linear 6s infinite;
    -moz-animation: animacion1 24s linear 6s infinite;
    -o-animation: animacion1 24s linear 6s infinite;
    -webkit-animation: animacion1 24s linear 6s infinite;
}

.fondo4 {
    position: absolute;
    width: 100%;
    height: 100vh; /*viewport height, porque en % no agarra por la posicion absoluta*/
    background: url(../img/background.jpg);
    animation: animacion1 24s cubic-bezier(1, -0.5, 0.5, 1) 0s infinite;
    -moz-animation: animacion1 24s cubic-bezier(1, -0.5, 0.5, 1) 0s infinite;
    -o-animation: animacion1 24s cubic-bezier(1, -0.5, 0.5, 1) 0s infinite;
    -webkit-animation: animacion1 24s cubic-bezier(1, -0.5, 0.5, 1) 0s infinite;
}

