/*formateando el estilo*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

/*trabajando con la clase galeria en el section*/
.galeria {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
}

/*trabajando con la clase cajagaleria en los ul*/
.cajaGaleria {
    position: relative;
    width: 935px;
    margin: auto;
    top: 18px;
    height: 262px;
    background: white;
    box-shadow: 0px 0px 30px #222222;
}

/*trabajando con los div de la galeria*/
.galeria .cajaGaleria li div {
    position: absolute;
    opacity: 0;
    right: 20px;
    top: 22px;
    transition: all 0.2s ease-out;
}

/*trabajando con los h1 de la galeria*/
.galeria .cajaGaleria li div h1 {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    color: white;
    font-weight: 100;
}


/*trabajando con los p de la galeria*/
.galeria .cajaGaleria li div p {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 97.2%;
    line-height: 60px;
    padding-left: 20px;
}

/*dejando la primera imagen fija en la galeria*/
#galeria00 {
    opacity: 1;
}

/*trabajando con los label de los input*/
.cajaGaleria li label {
    position: relative;
    z-index: 3;
    width: 151px;
    height: 72px;
    top: 22px;
    left: 15px;
    margin: 2px 0;
    cursor: pointer;
}

/*trabajando con los input*/
.cajaGaleria li input {
    display: none;
}

#btn01:checked ~ #galeria01 {
    opacity: 1;
}

#btn02:checked ~ #galeria02 {
    opacity: 1;
}

#btn03:checked ~ #galeria03 {
    opacity: 1;
}